@import './styles/base.scss';

:root {
  --primary-color:white;
  --duration:0.5s;
  --stagger: 0.1s;
  --interval: calc(var(--duration)-var(var(--stagger)))
  --easing:cubic-bezier(0.5, 0, 0.5, 1)
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 10vmin;
  left: 50vw;
  width: 10vmin;
border-radius: 50%;
 background: #fb2324;
 margin: 5px;


animation: move-right var(--duration) calc(var(--duration)) both;

&:nth-child(2){
  animation-delay: calc(var(--duration) - var(--stagger))
}
&:nth-child(3) {
  animation-delay: calc(var(--duration)*2 - var(--stagger)*2);
}
}
@keyframes move-right {

  from{
    transform:none ;
  }
  to {
    transform:translateX(25vw)
  }
}





 

    
  
